.lmj-shopping-list {
	width: 100%;
}

.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.btn-ajout{
	padding: 6px 4px;
	color: white;
	background-color: #31b472;
	border: none;
}